.scroll_hide {
  overflow: hidden;
}

.skip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    background: #ccc;

    &:focus,
    &:active {
      transform: translateY(0);
    }
  }
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.wrap {
  min-width: 1280px;
}

section {
  &[class^="section_"]:not(.section_visual, .section_content) {
    padding-top: 56px;
  }
}

.container {
  min-height: calc(100vh - 170px);
}

.title_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.popup_box {
  display: none;
}

.popup_box[aria-expanded="true"] {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);

  .popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 508px;
    padding: 80px 20px 30px;
    border-radius: 12px;
    background: url("../images/img_popup_background.png") no-repeat center /
      cover;
    text-align: center;
  }

  .headline {
    padding-bottom: 5px;
    font-size: 30px;
  }

  .page_list {
    padding: 30px 0 0 0;
  }

  .page_item {
    text-align: left;
    padding: 10px;
    &:first-of-type {
      border: 1px solid #fff;
    }
    &::before {
      display: inline-block;
      margin-right: 10px;
      content: "•";
    }
  }

  .title {
    display: inline-block;
    width: fit-content;
    font-size: 20px;

    &:after {
      display: block;
      height: 1px;
      background: #fff;
      content: "";
    }

    &_desc {
      padding-top: 5px;
      color: #fff;
      font-size: 16px;
    }
  }

  .desc {
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
  }

  .btn_close_popup {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px;
    border: 1px solid;

    &::before {
      display: block;
      width: 20px;
      height: 20px;
      background: url("../images/btn_close_popup.png") no-repeat center / cover;
      content: "";
    }
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 72px;
  min-width: 1280px;
  background-color: #121212;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &.js_bg {
    background-color: #121212;
    opacity: 1;
  }
}

.site_logo {
  width: 108px;
  height: 22px;
}

.nav {
  &_list {
    display: flex;
    gap: 32px;
  }

  &_item {
    min-width: 17.42px;
    color: #a5a5a5;
    font-size: 18px;
    font-weight: 500;
    line-height: 72px;
  }
  &_link {
    &:hover,
    &[aria-current="page"] {
      position: relative;
      color: #fff;
    }
  }
}

.utility {
  &_area {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_link {
    width: 40px;
    height: 40px;
    padding: 8px;

    &::before {
      display: block;
      width: 24px;
      height: 24px;
      content: "";
    }
  }

  &_promotion:before {
    background: url("../images/ico_promotion.png") no-repeat center / contain;
  }

  &_coupon {
    &::before {
      background: url("../images/ico_coupon.png") no-repeat center / contain;
    }
    &:hover {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);

      &:after {
        display: inline-block;
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        height: 27px;
        border-radius: 2px;
        background-color: rgba(75, 76, 79, 0.9);
        color: #fff;
        font-size: 13px;
        text-align: center;
        line-height: 27px;
        content: "이용권";
      }
    }
  }
  &_search::before {
    background: url("../images/Ico_search.png") no-repeat center / contain;
  }
}

.login_link {
  width: 76px;
  height: 32px;
  border-radius: 2px;
  background-color: #012cb9;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
}

.inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 42px;
}

.tab_list {
  display: flex;
  align-items: center;
  gap: 29px;
  position: relative;
  height: 45px;

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
  }

  @include mobile {
    gap: 15px;
  }
}

.tab_item {
  height: 100%;
}

.tab_item_title {
  padding-bottom: 33px;
  font-size: 20px;
  font-weight: 700;

  @include mobile {
    max-width: 100px;
  }

  &[aria-selected="true"] {
    position: relative;
    height: 100%;
    color: #486ff2;
    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: #486ff2;
      content: "";
    }
  }
}

.select {
  &_wrap {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &_box {
    position: relative;
    z-index: 1;
    width: 168px;
    margin-bottom: 24px;

    .option {
      width: 100%;
      max-width: 120px;
      padding-left: 10px;
      font-size: 14px;
      text-align: left;
      line-height: 20px;

      &_title[aria-selected="false"] {
        color: #8a8d91;
      }

      &_list {
        overflow-y: auto;
        position: absolute;
        width: 100%;
        height: 0;
        min-height: 246px;
        margin-top: 4px;
        background-color: #242526;
        opacity: 0;
        visibility: hidden;
        transition: height 0.3s, opacity 0.2s;
      }
    }
  }

  &_title {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 52px;
    padding: 10px 30px 10px 20px;
    border-radius: 3px;
    background-color: #242526;
    font-size: 14px;
    text-align: left;
    line-height: 32px;
    cursor: pointer;
    @include ellipse(2);

    &:after {
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      width: 14px;
      height: 8.4px;
      background: url("../images/ico_dropdown.png") no-repeat center / cover;
      content: "";
    }

    &[aria-expanded="true"] {
      &::after {
        transform: rotate(180deg) translateY(50%);
      }
      & + .option_list {
        visibility: visible;
        height: fit-content;
        padding: 13px 38px 13px 10px;
        opacity: 1;

        .option {
          height: auto;
          padding-bottom: 20px;

          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.slide_time_box,
.time_box {
  display: inline-block;
  height: 19px;
  margin-top: 2px;
  font-size: 0;

  .time {
    color: #8b8d91;
    &:last-of-type::before {
      margin: 0 2px;
      content: "~";
    }
  }
}

.all_link {
  height: 20px;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  opacity: 0.5;

  &:after {
    display: inline-block;
    width: 5px;
    height: 10px;
    margin-left: 4px;
    background: url("../images/ico_more.png") no-repeat center / contain;
    content: "";
  }
}

.slide_btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background: url("../images/ico_arrow.png") no-repeat center / contain;
  cursor: pointer;
}

.btn_prev {
  left: calc(56px / -2);
}

.btn_next {
  right: -28px;
  transform: rotate(180deg) translateY(50%);
}

.swiper-button-disabled {
  display: none;
}

.footer {
  min-width: 1280px;
  padding: 38px 62px;
  background-color: #000;

  .inner {
    display: flex;
  }

  &_nav {
    display: flex;
  }

  &_logo {
    width: 84px;
    height: 20px;
    margin-right: 24px;
    img {
      object-fit: contain;
    }
  }

  &_nav_link {
    display: inline-block;
    color: #8a8d91;
    font-size: 14px;

    &:hover {
      color: #e4e6eb;
    }

    &:not(:last-of-type)::after {
      display: inline-block;
      width: 1px;
      height: 10px;
      margin: 0 12px;
      background-color: #3a3b3c;
      content: "";
    }
  }

  .copyright {
    margin-left: auto;
    color: #8b8d91;
    font-size: 13px;
  }
}
