@charset "utf-8";

/* common */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body,
input,
select,
textarea,
button {
  background-color: #121212;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #fff;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

img,
fieldset {
  border: 0;
  vertical-align: top;
}

em,
address {
  font-style: normal;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}
