@mixin ellipse($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($line >= 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  } @else {
    white-space: nowrap;
  }
}

@mixin blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

@keyframes opacityAni {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

$desktop: 1280px;
$tablet: 1024px;
$mobile: 640px;
$minMobile: 425px;

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  // 960 이하를 꾸미는거다.
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin minMobile {
  @media screen and (max-width: $minMobile) {
    @content;
  }
}
