.image_box {
  position: relative;
  img {
    position: absolute;
    top: 0;
  }
}

.section_visual {
  .swiper-slide {
    width: auto !important;
  }

  .link_item {
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: 12px;
  }

  .text_box {
    display: none;
    position: relative;
  }

  .image_box,
  .text_box {
    min-width: 1240px;
    padding-bottom: calc((508 / 1240) * 100%);
  }

  .swiper-slide-active .text_box {
    display: block;
    position: absolute;
    z-index: 1;
    animation: opacityAni 0.7s ease-in-out;
  }

  .control_area {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    .slide_btn {
      width: 36px;
      height: 36px;
      background: url("../images/ico_pagination_arrow.png") no-repeat center /
        70px 70px;
    }

    .btn_prev {
      left: calc(76px / -2);
    }

    .btn_next {
      right: -38px;
    }
  }

  .visual_pagination {
    position: absolute;
    bottom: 16px;
    left: auto;
    right: calc(50% - 620px);
    transform: translate(-50%);
    z-index: 1;
    display: flex;
    gap: 5px;
    width: fit-content;
    min-width: 45px;
    padding: 3px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;

    .swiper-pagination-current {
      color: #fff;
    }
    .swiper-pagination-total {
      color: hsla(0, 0%, 100%, 0.7);

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 10px;
        transform: translate3d(-50%, -50%, 0);
        background-color: hsla(0, 0%, 100%, 0.2);
        content: "";
      }
    }
  }
}

.section_upload {
  .upload {
    &_landscape {
      .upload_item {
        max-height: 216px;
      }
      .image_box {
        padding-bottom: calc((106 / 189) * 100%);
      }
    }
    &_portrait {
      .upload_item {
        max-height: 360px;
      }
      .image_box {
        padding-bottom: calc((280 / 189) * 100%);
      }
    }

    &_list {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      column-gap: 12px;
    }

    &_item {
      width: 189px;
      padding-bottom: 48px;
      transition: max-height 0.3s ease-out;
      visibility: visible;
      opacity: 1;

      &.is_hidden {
        max-height: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
      }
    }

    &_title {
      max-width: 200px;
      margin-top: 14px;
      text-align: left;
      font-weight: normal;
      line-height: 24px;
      @include ellipse(2);
    }
  }
  .link_item {
    display: flex;
    flex-direction: column-reverse;
  }

  .more_btn {
    margin-top: 0;
  }
}

.section_event {
  .event_area,
  .event_link {
    position: relative;
  }
  .event {
    &_title {
      max-width: 220px;
      min-height: 58px;
      margin-top: 12px;
      font-size: 20px;
      font-weight: 500;
      line-height: 29px;
      @include ellipse(2);
    }

    &_desc {
      margin-top: 8px;
      font-size: 13px;
      line-height: 20px;
    }
  }

  .image_box {
    padding-bottom: calc((169 / 391) * 100%);
  }

  .text_box {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    &::before {
      display: block;
      width: 80px;
      height: 32px;
      background: url("../images/ico_label_ongoing.png") no-repeat center /
        contain;
      content: "";
    }
  }

  .is_ended .text_box::before {
    display: block;
    width: 80px;
    height: 32px;
    background: url("../images/ico_label_end.png") no-repeat center / contain;
    content: "";
  }
}

.section_best_artist {
  .artist_area {
    position: relative;
  }
  .image_box {
    padding-bottom: calc((280 / 189) * 100%);
  }
}

.section_artist {
  padding-bottom: 80px;

  .artist_area {
    position: relative;
  }

  .image_box {
    overflow: hidden;
    width: 88px;
    height: 88px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;

    img {
      top: 5px;
      width: 74px;
      height: 74px;
      border-radius: 50%;
    }
  }

  .slide {
    &_link {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-right: 12px;
      padding: 8px 0;
    }

    &_time_box {
      line-height: 19px;
      .time {
        font-size: 13px;
      }
    }
  }

  .text_box {
    flex: 1;
    padding-top: 0;
  }

  .artist_title {
    max-width: 162px;
    line-height: 24px;
    @include ellipse(2);
  }
}

.more_btn {
  display: flex;
  position: relative;
  padding: 10.5px 43.35px 10.5px 22px;
  margin: 48px auto 0;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  cursor: pointer;

  &:after {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("../images/ico_view_more.png") no-repeat center / contain;
    content: "";
  }
  &[aria-expanded="true"] {
    display: none;
  }
}
