.footer {
  @include mobile {
    display: block;
    max-width: 640px;
    min-width: 320px;
    padding: 20px;
  }
  &_logo {
    margin-right: 24px;
  }
  &_nav {
    @include mobile {
      flex-wrap: wrap;
    }
  }

  .copyright {
    @include mobile {
      display: block;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
