.header {
  @include mobile {
    min-width: 320px;
    max-width: 640px;
    padding: 0 20px;
  }
}

.nav {
  @include mobile {
    display: none;
  }
}

.utility_area {
  @include mobile {
    gap: 0px;
  }
}
