@charset "UTF-8";
@keyframes opacityAni {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* common */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body,
input,
select,
textarea,
button {
  background-color: #121212;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #fff;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

img,
fieldset {
  border: 0;
  vertical-align: top;
}

em,
address {
  font-style: normal;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

.scroll_hide {
  overflow: hidden;
}

.skip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.skip a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}
.skip a:focus, .skip a:active {
  transform: translateY(0);
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.wrap {
  min-width: 1280px;
}

section[class^=section_]:not(.section_visual, .section_content) {
  padding-top: 56px;
}

.container {
  min-height: calc(100vh - 170px);
}

.title_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.popup_box {
  display: none;
}

.popup_box[aria-expanded=true] {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.popup_box[aria-expanded=true] .popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 508px;
  padding: 80px 20px 30px;
  border-radius: 12px;
  background: url("../images/img_popup_background.png") no-repeat center/cover;
  text-align: center;
}
.popup_box[aria-expanded=true] .headline {
  padding-bottom: 5px;
  font-size: 30px;
}
.popup_box[aria-expanded=true] .page_list {
  padding: 30px 0 0 0;
}
.popup_box[aria-expanded=true] .page_item {
  text-align: left;
  padding: 10px;
}
.popup_box[aria-expanded=true] .page_item:first-of-type {
  border: 1px solid #fff;
}
.popup_box[aria-expanded=true] .page_item::before {
  display: inline-block;
  margin-right: 10px;
  content: "•";
}
.popup_box[aria-expanded=true] .title {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
}
.popup_box[aria-expanded=true] .title:after {
  display: block;
  height: 1px;
  background: #fff;
  content: "";
}
.popup_box[aria-expanded=true] .title_desc {
  padding-top: 5px;
  color: #fff;
  font-size: 16px;
}
.popup_box[aria-expanded=true] .desc {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
}
.popup_box[aria-expanded=true] .btn_close_popup {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
}
.popup_box[aria-expanded=true] .btn_close_popup::before {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/btn_close_popup.png") no-repeat center/cover;
  content: "";
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 72px;
  min-width: 1280px;
  background-color: #121212;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 425px) {
  .header .inner {
    flex-wrap: nowrap;
  }
}
.header.js_bg {
  background-color: #121212;
  opacity: 1;
}

.site_logo {
  width: 108px;
  height: 22px;
}

.nav_list {
  display: flex;
  gap: 32px;
}
.nav_item {
  min-width: 17.42px;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 500;
  line-height: 72px;
}
.nav_link:hover, .nav_link[aria-current=page] {
  position: relative;
  color: #fff;
}

.utility_area {
  display: flex;
  align-items: center;
  gap: 8px;
}
.utility_link {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.utility_link::before {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
}
.utility_promotion:before {
  background: url("../images/ico_promotion.png") no-repeat center/contain;
}
.utility_coupon {
  position: relative;
}
.utility_coupon::before {
  background: url("../images/ico_coupon.png") no-repeat center/contain;
}
.utility_coupon:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.utility_coupon:hover:after {
  display: inline-block;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 27px;
  border-radius: 2px;
  background-color: rgba(75, 76, 79, 0.9);
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 27px;
  content: "이용권";
}
.utility_search::before {
  background: url("../images/Ico_search.png") no-repeat center/contain;
}

.login_link {
  width: 76px;
  height: 32px;
  border-radius: 2px;
  background-color: #012cb9;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
}

.inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 42px;
}

.tab_list {
  display: flex;
  align-items: center;
  gap: 29px;
  position: relative;
  height: 45px;
}
.tab_list::after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  content: "";
}
@media screen and (max-width: 640px) {
  .tab_list {
    gap: 15px;
  }
}

.tab_item {
  height: 100%;
}

.tab_item_title {
  padding-bottom: 33px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .tab_item_title {
    max-width: 100px;
  }
}
.tab_item_title[aria-selected=true] {
  position: relative;
  height: 100%;
  color: #486ff2;
}
.tab_item_title[aria-selected=true]:after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #486ff2;
  content: "";
}

.select_wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.select_box {
  position: relative;
  z-index: 1;
  width: 168px;
  margin-bottom: 24px;
}
.select_box .option {
  width: 100%;
  min-width: 120px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}
.select_box .option:hover {
  background-color: #3a3b3c;
}
.select_box .option:hover .option_title {
  color: #fff;
}
.select_box .option:first-of-type .option_title {
  padding-top: 13px;
}
.select_box .option:last-of-type .option_title {
  padding-bottom: 13px;
}
.select_box .option_title {
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8a8d91;
  text-align: left;
  cursor: pointer;
}
.select_box .option_list {
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: 0;
  min-height: 246px;
  margin-top: 4px;
  border-radius: 6px;
  background-color: #242526;
  opacity: 0;
  visibility: hidden;
  transition: height 0.3s, opacity 0.2s;
}
.select_title {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 52px;
  padding: 10px 30px 10px 20px;
  border-radius: 6px;
  background-color: #242526;
  color: #626466;
  font-size: 14px;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.select_title:after {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 14px;
  height: 8.4px;
  background: url("../images/ico_dropdown.png") no-repeat center/cover;
  content: "";
}
.select_title[aria-expanded=true] {
  color: #fff;
}
.select_title[aria-expanded=true]::after {
  transform: rotate(180deg) translateY(50%);
}
.select_title[aria-expanded=true] + .option_list {
  visibility: visible;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
}

.slide_time_box,
.time_box {
  display: inline-block;
  height: 19px;
  margin-top: 2px;
  font-size: 0;
}
.slide_time_box .time,
.time_box .time {
  color: #8b8d91;
}
.slide_time_box .time:last-of-type::before,
.time_box .time:last-of-type::before {
  margin: 0 2px;
  content: "~";
}

.all_link {
  height: 20px;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  opacity: 0.5;
}
.all_link:after {
  display: inline-block;
  width: 5px;
  height: 10px;
  margin-left: 4px;
  background: url("../images/ico_more.png") no-repeat center/contain;
  content: "";
}

.slide_btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background: url("../images/ico_arrow.png") no-repeat center/contain;
  cursor: pointer;
}

.btn_prev {
  left: -28px;
}

.btn_next {
  right: -28px;
  transform: rotate(180deg) translateY(50%);
}

.swiper-button-disabled {
  display: none;
}

.footer {
  min-width: 1280px;
  padding: 38px 62px;
  background-color: #000;
}
@media screen and (max-width: 640px) {
  .footer {
    padding: 38px 0;
  }
}
.footer .inner {
  display: flex;
}
.footer_nav {
  display: flex;
}
.footer_logo {
  width: 84px;
  height: 20px;
  margin-right: 24px;
}
.footer_logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.footer_nav_link {
  display: inline-block;
  color: #8a8d91;
  font-size: 14px;
}
.footer_nav_link:hover {
  color: #e4e6eb;
}
.footer_nav_link:not(:last-of-type)::after {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 12px;
  background-color: #3a3b3c;
  content: "";
}
.footer .copyright {
  margin-left: auto;
  color: #8b8d91;
  font-size: 13px;
}

.section_content .image_wrap {
  background: #000;
}
.section_content .inner {
  position: relative;
}
.section_content .play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 104px;
  height: 104px;
}
.section_content .play_btn:before {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/ico_play.png") no-repeat center/contain;
  content: "";
}
.section_content .content_box {
  padding-top: 32px;
  background-color: #121212;
}
.section_content .content_mc, .section_content .content_cast {
  font-size: 18px;
}
.section_content .content_cast {
  margin-top: 30px;
}
.section_content .channel_link {
  display: block;
  width: 40px;
  height: 24px;
}
.section_content .channel_link img {
  -o-object-fit: contain;
     object-fit: contain;
}
.section_content .title {
  display: block;
  margin: 31px 150px 12px 0;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section_content .time_box {
  margin-bottom: 24px;
}
.section_content .time_box .time {
  font-size: 16px;
}
.section_content .util_btn_wrap {
  position: absolute;
  right: 42px;
  top: 0;
  display: flex;
  gap: 32px;
}
.section_content .util_btn {
  cursor: pointer;
}
.section_content .util_btn:before {
  display: block;
  width: 100%;
  height: 34px;
  content: "";
}
.section_content .util_desc {
  display: block;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  line-height: 1.462;
}
.section_content .util_like:before {
  background: url("../images/ico_like.png") no-repeat center/30px 30px;
}
.section_content .util_like[aria-pressed=true]::before {
  background: url("../images/ico_like_active.png") no-repeat center/30px 30px;
}
.section_content .util_share:before {
  background: url("../images/ico_share.png") no-repeat center/34px 34px;
}
.section_content .util_calendar {
  display: inline-block;
}
.section_content .util_calendar::before {
  background: url("../images/ico_schedule.png") no-repeat center/34px 34px;
}

.section_schedule .schedule_area {
  position: relative;
}
.section_schedule .swiper {
  padding-right: 1px;
}
.section_schedule .swiper-wrapper {
  border-left: 1px solid #3a3b3c;
}
.section_schedule .swiper-slide {
  display: flex;
  position: relative;
  height: 96px;
  padding: 20px;
  border: 1px solid #3a3b3c;
  border-left: 0;
}
.section_schedule .swiper-slide:nth-child(1) .push_notification_btn, .section_schedule .swiper-slide:nth-child(2) .push_notification_btn {
  display: none;
}
.section_schedule .swiper-slide:nth-child(2) {
  align-items: center;
  gap: 20px;
  background-color: rgba(2, 45, 185, 0.2);
}
.section_schedule .swiper-slide:nth-child(2) .slide_status {
  display: flex;
}
.section_schedule .swiper-slide:nth-child(n+4) {
  border-left: 0;
}
.section_schedule .swiper-slide .push_notification_btn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 32px;
  cursor: pointer;
}
.section_schedule .swiper-slide .push_notification_btn[aria-pressed=false] {
  background: url("../images/ico_alarm_off.png") no-repeat center/contain;
}
.section_schedule .swiper-slide .push_notification_btn[aria-pressed=true] {
  background: url("../images/ico_alarm_on.png") no-repeat center/contain;
}
.section_schedule .slide_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section_schedule .slide_content {
  flex: 1;
  margin: auto;
}
.section_schedule .slide_title {
  max-width: 200px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section_schedule .slide_status {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 91px;
  height: 32px;
  font-family: "Chelsea Market", sans-serif;
  border-radius: 16px;
  background: #fff;
  color: #121212;
}
.section_schedule .slide_status::after {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d90a0a;
  content: "";
}
.section_schedule .slide_time_box {
  margin-top: 4px;
}
.section_schedule .slide_time_box .time {
  font-size: 14px;
  line-height: 20px;
}

.section_channel {
  padding-bottom: 100px;
}
.section_channel .select_wrap {
  justify-content: flex-end;
}
.section_channel .select_box {
  margin: 20px 0;
}
.section_channel .channel_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
}
.section_channel .link_item {
  display: flex;
  flex-direction: column-reverse;
}
.section_channel .link_item .image_box {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  border-radius: 12px;
}
.section_channel .link_item .image_box img {
  position: absolute;
  top: 0;
}
.section_channel .text_box {
  padding: 8px 0 12px 0;
}
.section_channel .channel {
  display: block;
  margin-bottom: 4px;
  color: #a5a5a5;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.section_channel .title {
  color: #a5a5a5;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}